<% unless @featured_post.nil? %>
<div class="jumbotron grbg1">
  <div class="container">
    <h1 class="display-3 heading"><%= @featured_post.title %></h1>
    <p class="mt-4"><%= truncate sanitize(@featured_post.content, tags: [], attributes: []), length: 200 %></p>
    <hr class="my-2">
    <p>
      <%= link_to  "Continue Reading", post_path(@featured_post), class: 'btn btn-outline-light' %>
    </p>
  </div>
</div>
<% end %>


<div class="row mb-5">
  <% @featured_categories.each do |fetcat| %>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">
          <%= link_to fetcat.name, category_path(fetcat) %>
        </h4>
      </div>
      <ul class="list-group list-group-flush">
      <% fetcat.posts.last(3).each do |p| %>
        <li class="list-group-item">
          <%= link_to truncate(p.title, length: 40), post_path(p), class: 'text-muted' %>
        </li>
      <% end %>
      </ul>
      <div class="card-footer">
        <%= link_to  "View All Posts", category_path(fetcat), class: 'float-right text-muted' %>
      </div>
    </div>
  </div>
  <% end %>
</div>