<%= form_for @post, :html => {class: 'my-5 py-3'} do |f| %>
  <h3>Create New Post</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Post Title' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.trix_editor :content, placeholder: 'Post Content', rows: 10 %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="form-group row">
        <div class="col-sm-10">
          <div class="card">
            <div class="card-footer">
              <%= f.submit(@post.new_record? ? "Publish" : "Update", class: 'btn btn-outline-primary btn-sm') %>
              <% unless @post.new_record? %>
                <%= link_to "Cancle", post_path(@post), class: 'btn btn-outline-warning btn-sm' %>
              <% end %>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-footer">
              <%= f.file_field :thumbnail %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">All Categories</h3>
            </div>
            <div class="card-body">
              <div class="custom-control custom-checkbox pl-0">
                <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
                  <div>
                  <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %>
                  </div>
                <% end %>
                <%# <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember my preference</label> %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if current_user.admin %>
      <div class="form-group row">
        <div class="col-sm-10">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Featured</h3>
            </div>
            <div class="card-body">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :featured, class: 'form-check-input' %>
                <%= f.label :featured, class: 'form-check-label' %>
                <%# <input type="checkbox" class="custom-control-input" id="customControlInline">
                <label class="custom-control-label" for="customControlInline">Remember my preference</label> %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>