<div class="row py-5">
  <div class="col-md-8 offset-md-2">
    <div class="card article">
      <% if @post.thumbnail.attached? %>
        <%= image_tag @post.thumbnail, class: 'card-img-top img-fluid' %>
      <% else %>
        <%= image_tag "1200x480.png", class: 'card-img-top img-fluid' %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= @post.title %></h4>
        <p class="card-text"><%= sanitize (@post.content) %></p>
      </div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="card-footer">
          <%= link_to  "Edit", edit_post_path(@post), class: 'btn btn-outline-primary btn-sm' %>
          <%= link_to  "Cancle", posts_path, class: 'btn btn-outline-warning btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>